.container {
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 85vh;
  background-color: #242424;
  color: #fff;
  padding: 20px;
}

.heading {
  font-size: 24px;
  color: #ff4d6d;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 1.25rem; 
  padding: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

.categoryButton {
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}