.timerPage {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  width: 100%;
  height: 65px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.headingContainer{
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 20px;
  color: #e91e63;
}

.headerH2{
  font-size: 1.3em;
}

.soundContainer{
  display: flex;
  gap: 15px;
  font-size: 1.3rem;
}

.timerDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.circle {
  width: 200px;
  height: 200px;
  border: 4px solid #e91e63;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleh1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
}

.timerControls {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.startBtn,
.recordBtn,
.resetBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.startBtn {
  background-color: #e91e63;
  color: #fff;
}

.recordBtn {
  background-color: #222;
  color: #fff;
}

.resetBtn {
  background-color: #555;
  color: #fff;
}

.tabs {
  display: flex;
  gap: 3%;
  width: 90%;
  justify-content: center;
}

.tabButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.active {
  background-color: #e91e63;
}

.records {
  width: 87%;
  text-align: center;
  margin-top: 1.2rem;
  padding: 16px;
  background-color: #5555559b;
  border-radius: 10px;
}

.record {
  margin: 5px 0;
}

.lastRecordContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lastRecordTabWithIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.timerIcon{
  font-size: 20px;
}

.lastRecordTab{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.recordsh3 {
  font-size: 10px;
}

.crossBtn{
  width: 35px;
  height: 35px;
  padding: 0px;
  font-size: large;
  background-color: #555;
  align-self: center;
  border-radius: 50%;
}